# Created by .ignore support plugin (hsz.mobi)
/node_modules/
Будет удалено .idea/copyright/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/node.js.iml
Будет удалено .idea/vcs.xml
Будет удалено .idea/workspace.xml
